body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f2f5;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    height: 100vh;
}

/* ЛЕВАЯ СТОРОНА */
.left {
    max-width: 450px;
}

.logo {
    width: 300px;
    margin-bottom: 10px;
}

.left p {
    font-size: 24px;
    color: #1c1e21;
}

/* ПРАВАЯ СТОРОНА */
.form {
    width: 360px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.login {
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.forgot {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
}


.create {
    padding: 12px 16px;
    background: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

